.center {
  margin: 0 auto;
  display: block;

  &-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-absolute {
    left: 50%;
    transform: translate(-50%);
  }
}

.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-none {
    float: none;
  }

  &-initial {
    float: initial;
  }
}

.clear {
  &-left {
    clear: left;
  }

  &-right {
    clear: right;
  }
}

.overflow {
  &-hidden {
    overflow: hidden;
    &-y {
      overflow-y: hidden;
    }

    &-x {
      overflow-x: hidden;
    }
  }
  &-auto {
    overflow: auto;
    &-y {
      overflow-y: auto;
    }

    &-x {
      overflow-x: auto;
    }
  }
}


.align {
  &-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@for $i from 1 through 99999 {
  .z-index-#{$i} {
    z-index: ($i * 1);
  }
}

@for $i from 0 through 100 {
  .bottom-#{$i} {
    //flex: 100/12 * $i;
    bottom: $i * 1px;
  }
  .left-#{$i} {
    //flex: 100/12 * $i;
    left: $i * 1px;
  }
  .right-#{$i} {
    //flex: 100/12 * $i;
    right: $i * 1px;
  }
  .top-#{$i} {
    //flex: 100/12 * $i;
    top: $i * 1px;
  }
}

.position {
  &-static {
    position: static;
  }

  &-fixed {
    position: fixed;
  }

  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute !important;
  }

  &-sticky {
    position: sticky;
  }
}


.display {
  &-inline {
    display: inline;
  }

  &-block {
    display: block;
  }

  &-inline-block {
    display: inline-block;
  }

  &-inline-flex {
    display: inline-flex;
  }

  &-flex {
    display: flex;
  }

  &-contents {
    display: contents;
  }
}
